GROQ_API_KEY=fill_in_your_groq_api_key
DJANGO_SECRET_KEY=fill_in_your_django_secret_key , any_long_random_string
BATCH_CHUNK_SIZE=fill_in_your_chunk_size_number , ex. 10
BATCH_INTERVAL_MINUTES=fill_in_your_interval_minutes_number , ex. 5
DEBUG=fill_in_your_True_or_False , True or False
DB_NAME=fill_in_your_database_name , example_community_guardian
DB_USER=fill_in_your_database_user , example_community_guardian
DB_PASSWORD=fill_in_your_database_password , example_password
DB_HOST=fill_in_your_database_host , localhost
DB_PORT=fill_in_your_database_port , 5432
